<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Clonehoot!</title>
</head>
<body>
    <header>
        <nav class="main-nav">
            <div class="ul-container">
                <ul>
                    <li class="main-nav__item"><a href="#"><img class="logo" src="img/logo-red.png" alt="Clonehoot"> </a></li>
                    <li class="main-nav__item"><a href="">News</a></li>
                    <li class="main-nav__item"><a href="">Home</a></li>
                </ul>
            </div>
            <div class="ul-container">
                <ul>
                    <li class="main-nav__item"><a href="index.ejs">Play</a></li>
                    <li class="main-nav__item"><a href="">Sign up</a></li>
                    <li class="main-nav__item"><a href="">Log in</a></li>
                    <li class="main-nav__item"><a href="">ES</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <div>
                    <a href="">Registrate gratis!</a>
                </div>
            </div>
        </section>
        <section>
            
        </section>
    </main>
</body>
</html>